iframe{
  width: 100% !important;
  max-height: 100%;
  margin: 0px !important;

}
#sidebar_iframe {
    width: 100% !important;
    height: 56.25% !important;
}

.fluid-width-video-wrapper{
padding-top: 56.25% !important;
}

#mc4wp_email{
    width: 100%;
	height: 50px;
	text-align: center;
	box-shadow: none;
    font-family: "montserrat", "raleway", "sans-serrif";
	margin-bottom: 10px;
	border: none;
}
.cb-sidebar-widget{
margin-bottom:25px;
}
#mc4wp-form-1 input[type=submit]{
    width: 100%;
    height: 50px;
    background-color:black;
    text-transform: uppercase;
    font-family: "montserrat", "raleway", "sans-serrif";
    text-align: center;
    border:none;
    color:white;

}
.fb-like-box.clearfix.fb_iframe_widget{
    max-height:250px;
}
p{
text-align:justify;
}
.cb-entry-content blockquote{
    line-height:125%;
    font-size:130%;
}
div.cb-slider span.cb-author{
    visibility:hidden;
}
div.cb-slider span.cb-separator{
    visibility:hidden;
}
div.cb-slider span.cb-date{
    visibility:hidden;
}
